footer{
    color: #2C3E50;
    background-color: #ECF0F1;
    text-align: center;
}

main{
    width: 50vw;
    margin: auto;
}

#titulo_1{
    color: #E74C3C;
    background-color: #F9EBEA;
}

#titulo_2{
    color: #E74C3C;
    background-color: #F9EBEA;
}

#titulo_3{
    color: #E74C3C;
    background-color: #F9EBEA;
}


#titulo_4{
    color: #30AE60;
    background-color: #E9F7EF;
}

#titulo_5{
    color: #30AE60;
    background-color: #E9F7EF;
}

#titulo_6{
    color: #30AE60;
    background-color: #E9F7EF;
}

#titulo_7{
    color: #30AE60;
    background-color: #E9F7EF;
}

#titulo_8{
    color: #F39C11;
    background-color: #FFF3E6;
}

#titulo_9{
    color: #F39C11;
    background-color: #FFF3E6;
}

#titulo_10{
    color: #F39C11;
    background-color: #FFF3E6;
}

#titulo_11{
    color: #F39C11;
    background-color: #FFF3E6;
}

#titulo_12{
    color: #8E44AD;
    background-color: #F5E6F5;
}

#titulo_13{
    color: #8E44AD;
    background-color: #F5E6F5;
}

#titulo_14{
    color: #8E44AD;
    background-color: #F5E6F5;
}

#titulo_15{
    color: #8E44AD;
    background-color: #F5E6F5;
}

